

/*
#controls{
  position:absolute;
  width:20%;height:100%;
  left:0px;
  border:1px solid black;
  padding:5px;
}*/

#controls{
  background:white;
}

#controls:focus{
  outline: -webkit-focus-ring-color auto 5px;
  color:red;
}

#placeHolder{
  text-align: center;
  vertical-align: middle;
  height: 100%;
  display: table;
  width: 100%;

}

#placeHolder >h1{
  display: table-cell;
  top: 50%;
  vertical-align: middle;
}

:focus {
outline: -webkit-focus-ring-color auto 5px;
}


/*for map ---------------*/

accessibility-map {

width: 640px;
height: 480px;
position: absolute;
z-index: 10;
}

core-collapse {
margin: 10px 0;
background: rgb(248, 248, 248);
        padding: 15px;
        display: block !important;
        min-height: 15px;
}

core-header-panel {
  height: 100%;
}

h1{
  width: 100%;
  font-size: 20px;
  margin-top: 0px;
}

h5{
  width: 100%;
  font-size: 15px;
  margin-top: 0px;
}

#textData{
  width: 60%;
  position: absolute;
  top: 0;
  left: 0;
  padding:10px;
}

#mapData{
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 60%;
}

.content{
  overflow:hidden;
}

.itemName{
  color:blue;
  display: inline-block;
  font-weight: bold;
  width: 250px;
}

.itemText{
  color: black;
  display: inline-block;
  /*text-align: center;*/
  width: 400px;
}

core-toolbar section{
  display: inline-flex;
  color:blue;
}

section > h4{
  padding-right: 10px;
}

/*POLYMER element stylings*/
core-toolbar{
  padding-bottom: 50px;
}

core-toolbar /deep/ .toolbar-tools {
  position: relative;
  height: 34px;
  padding: 0px 8px;
  pointer-events: none;

}    

core-toolbar /deep/ .toolbar-tools > * {
  margin: 0px 1px;
}

core-toolbar {
  height:34px;
  background: #fff;
}

core-toolbar /deep/ core-icon {
    width: 24px;
    height: 24px;
  }

core-pages{
  background:white;
  z-index:20;
}


[drawer] {
    background-color: white;
    border-right: 1px solid #ccc;
    width:300px;
  }

[drawer]:focus {
  outline: -webkit-focus-ring-color auto 5px;
  }

paper-icon-button{
  text-transform: capitalize;
}

paper-icon-button:focus{
  outline: -webkit-focus-ring-color auto 5px;
}
