

#controls{
  background:white;
}


#placeHolder{
  text-align: center;
  vertical-align: middle;
  height: 100%;
  display: table;
  width: 100%;

}

#placeHolder >h1{
  display: table-cell;
  top: 50%;
  vertical-align: middle;
}

:focus {
  outline: 2px auto blue;
  color:red;
}


section:focus >div{
  color:red;
}


section > h1{
  padding-right: 10px;
  font-size: 16px;
   margin-top: 20px;
}


h1{
  font-size: 20px;
  margin-top: 0px;
}

h2{
  font-size: 15px;
  margin-top: 0px;
}

header{
  width: 100%;
  font-size: 15px;
  margin-top: 0px;
}

#textData{
  padding:10px;
}


.content{
  overflow:hidden;
}

.itemName{
  color:blue;
  display: inline-block;
  font-weight: bold;
  width: 250px;
}

.itemText{
  color: black;
  display: inline-block;
  /*text-align: center;*/
  width: 400px;
}


/*for map ---------------*/
#mapData{
  width: 40%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 60%;
}
accessibility-map {

width: 640px;
height: 480px;
position: absolute;
z-index: 10;
}


/*POLYMER element stylings*/
core-collapse {
margin: 10px 0;
background: rgb(248, 248, 248);
        padding: 15px;
        display: block !important;
        min-height: 15px;
}

core-header-panel {
  height: 100%;
}


core-toolbar section{
  display: inline-flex;
  color:blue;
}


core-toolbar{
  padding-bottom: 50px;
}

core-toolbar /deep/ .toolbar-tools {
  position: relative;
  height: 34px;
  padding: 0px 8px;
  pointer-events: none;

}    

core-toolbar /deep/ .toolbar-tools > * {
  margin: 0px 1px;
}

core-toolbar {
  height:34px;
  background: #fff;
}


paper-dropdown-menu:focus /deep/ #control > div {
    color: red;
}


core-toolbar /deep/ core-icon {
    width: 24px;
    height: 24px;
  }

core-pages{
  background:white;
  z-index:20;
}


[drawer] {
    background-color: white;
    border-right: 1px solid #ccc;
  }

[drawer]:focus {
  outline: -webkit-focus-ring-color auto 5px;
  }

paper-icon-button{
  text-transform: capitalize;
}

paper-icon-button:focus{
  outline: -webkit-focus-ring-color auto 5px;
}
